<div>
  <div
    class="uppercase bg-af-pattern min-h-16 flex justify-center items-center text-slate-50 text-lg font-semibold"
  >
    Check-in
  </div>

  <div class="p-8 mt-20 md:border md:border-sky-400 md:max-w-md mx-auto">
    <h1 class="text-5xl text-center font-bold uppercase">
      Retrive your booking
    </h1>
    <hr class="mt-8 mx-auto max-w-5 border-2 border-slate-900" />
    <p class="mt-10">
      You can find your booking by filling out your family name and the booking
      code in your booking confirmation
    </p>

    @if (booking$ | async; as booking) {
      @if (booking.error) {
        <div
          class="border border-dashed border-red-500 border-2 bg-red-400 p-4 text-red-50 mt-8 rounded-lg"
        >
          {{ booking.error }}
        </div>
      }
    }
    <div></div>

    <form
      class="flex flex-col mt-10"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col space-y-5">
        <app-form-field>
          <label appLabel>Booking code</label>
          <input
            appInput
            formControlName="bookingCode"
            type="text"
            maxlength="6"
          />
          <app-field-error>
            <ng-template #fieldErrorTemplate let-fieldErrorType>
              @switch (fieldErrorType) {
                @case ('minlength') {
                  Make sure the booking code contains at least
                  {{ bookingCodeMinLength }} characters
                }
                @case ('maxlength') {
                  Make sure the booking code contains maximum
                  {{ bookingCodeMaxLength }} characters
                }
                @default {
                  Field is required
                }
              }
            </ng-template>
          </app-field-error>
        </app-form-field>

        <app-form-field>
          <label appLabel>Family name</label>
          <input appInput formControlName="familyName" type="text" />
          <app-field-error>
            <ng-template #fieldErrorTemplate let-fieldErrorType>
              @switch (fieldErrorType) {
                @case ('minlength') {
                  Make sure the family name contains at least
                  {{ familyNameMinLength }} characters
                }
                @case ('maxlength') {
                  Make sure the family name contains maximum
                  {{ familyNameMaxLength }} characters
                }
                @default {
                  Field is required
                }
              }
            </ng-template>
          </app-field-error>
        </app-form-field>
      </div>

      <button
        class="mt-5 bg-rose-600 text-rose-50 px-4 py-2 self-center hover:bg-rose-700"
        type="submit"
      >
        Retrive booking
      </button>
    </form>
  </div>
</div>
