<div>
  <div
    class="uppercase bg-af-pattern min-h-16 flex justify-center items-center text-slate-50 text-lg font-semibold"
  >
    Check-in
  </div>

  <div class="p-8 mt-20 md:border md:border-sky-400 md:max-w-md mx-auto">
    <h1 class="text-5xl text-center font-bold uppercase">
      Retrive your booking
    </h1>
    <hr class="mt-8 mx-auto max-w-5 border-2 border-slate-900" />
    <p class="mt-10">
      You can find your booking by filling out your family name and the booking
      code in your booking confirmation
    </p>

    @if(submissionError) {
    <div
      class="border border-dashed border-red-500 border-2 bg-red-400 p-4 text-red-50 mt-8 rounded-lg"
    >
      Could not find booking with code: {{ form.controls.bookingCode.value }}
    </div>
    }

    <form
      class="flex flex-col mt-10"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col space-y-5">
        <app-form-field>
          <label
            >Booking code<input
              appInput
              formControlName="bookingCode"
              type="text"
              maxlength="6"
          /></label>
          @if(shouldDisplayErrorMessage(form.controls.bookingCode)) {
          <span class="text-red-600 font-medium">{{
            getErrorMessage(form.controls.bookingCode)
          }}</span>
          }
        </app-form-field>

        <app-form-field>
          <label
            >Family name<input
              appInput
              formControlName="familyName"
              type="text"
          /></label>
          @if(shouldDisplayErrorMessage(form.controls.familyName)) {
          <span class="text-red-600 font-medium">{{
            getErrorMessage(form.controls.familyName)
          }}</span>
          }
        </app-form-field>
      </div>

      <button
        class="mt-5 bg-rose-600 text-rose-50 px-4 py-2 self-center hover:bg-rose-700"
        type="submit"
        [disabled]="form.pending"
      >
        Retrive booking
      </button>
    </form>
  </div>
</div>
