<div
  class="uppercase bg-af-pattern min-h-16 flex justify-center items-center text-slate-50 text-lg font-semibold"
>
  Booking: {{ booking.bookingCode }}
</div>

<div class="size-full container mx-auto p-10">
  <header class="flex justify-between">
    <h1 class="font-bold">
      {{ originCity.name }} {{ itineraryType }} {{ destinationCity.name }}
      <span class="block text-lg">
        {{ itineraryDate | date : 'fullDate' }}
      </span>
    </h1>

    <button
      class="ml-5 self-start"
      appButton
      color="secondary"
      type="button"
      (click)="navigateBackToSearch()"
    >
      Find another booking
    </button>
  </header>

  <main class="mt-16 flex flex-col space-y-10">
    <section>
      <h2>Itinerary</h2>

      <hr />

      <div class="mt-8 space-y-6">
        @for(connection of booking.itinerary.connections; track connection.id) {
        <app-itinerary-overview
          [connection]="connection"
        ></app-itinerary-overview>

        <button
          class="mx-auto block mt-5"
          appButton
          type="button"
          (click)="detailsModalOpen.set(true)"
        >
          Show itinerary details
        </button>
        <app-modal [(opened)]="detailsModalOpen">
          <app-itinerary-details> </app-itinerary-details>
        </app-modal>
        }
      </div>
    </section>

    <section>
      <h2>Passenger details</h2>
      <hr />
      <div class="mt-8">
        @for(passenger of passengers; track passenger.id) {
        <div class="space-x-4">
          <app-data-pair>
            <app-data-pair-title>Title</app-data-pair-title>
            <app-data-pair-value>
              {{ passenger.title.name }}
            </app-data-pair-value>
          </app-data-pair>

          <app-data-pair>
            <app-data-pair-title>First name</app-data-pair-title>
            <app-data-pair-value>
              {{ passenger.firstName | titlecase }}
            </app-data-pair-value>
          </app-data-pair>

          <app-data-pair>
            <app-data-pair-title>Last name</app-data-pair-title>
            <app-data-pair-value>
              {{ passenger.lastName | titlecase }}
            </app-data-pair-value>
          </app-data-pair>
        </div>
        }
      </div>
    </section>

    <section>
      <h2>Contact details</h2>
      <hr />
      <div class="mt-8">
        @for(contactDetail of contactDetails; track contactDetail.value) {
        <div>
          <app-data-pair>
            <app-data-pair-title>{{ contactDetail.title }}</app-data-pair-title>
            <app-data-pair-value>
              {{ contactDetail.value | lowercase }}
            </app-data-pair-value>
          </app-data-pair>
        </div>
        }
      </div>
    </section>
  </main>
</div>
